body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  video {
    max-width: 100%;
    border: 2px solid #333;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #nextButton {
    display: block;
    margin: 20px auto;
  }
  
  input[type="file"] {
    display: none;
  }
  